<%inherit file="/homepage/templates/base.htm" />
<%block name="app_options">
   %if request.user.is_authenticated():   
      <!--Specific navbar options-->
      <li class="${ 'active' if request.dmp_router_page == 'index' else ''}"><a href="/account/index/">Account Home</a></li>
      <li class="${ 'active' if request.dmp_router_page == 'editaccount' else ''}"><a href="/account/editaccount/">Update My Account<span class="sr-only">(current)</span></a></li>
      <li class="${ 'active' if request.dmp_router_page == 'logout' else ''}"><a href="/account/logout/">Log Out</a></li>
   %else:
      <li class="${ 'active' if request.dmp_router_page == 'products' else ''}"><a href="/catalog2/products/">Catalog</a></li>
      <li class="${ 'active' if request.dmp_router_page == 'about' else ''}"><a href="/homepage/about/">About Us<span class="sr-only">(current)</span></a></li>
      <li class="${ 'active' if request.dmp_router_page == 'contact' else ''}"><a href="/homepage/contact/">Contact Us</a></li> 
      <li class="${ 'active' if request.dmp_router_page == 'faq' else ''}"><a href="/homepage/faq/">FAQ</a></li>
      <li class="${ 'active' if request.dmp_router_page == 'terms' else ''}"><a href="/homepage/terms/">Glossary of Terms</a></li>
   %endif
      
</%block>
