## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>    
    <title>Account</title>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    ## render the css with the same name as this page
    ${ static_renderer.get_template_css(request, context)  }

  </head>
  <body>

    <header>
      Welcome to the account app!
    </header>

    <%block name="content">
      Site content goes here in sub-templates.
    </%block>

    ## render the JS with the same name as this page
    ${ static_renderer.get_template_js(request, context)  }

  </body>
</html>
