<%inherit file="app_base.htm" />

<%block name="title">
  Change Password
</%block>

<%block name="content">
  <h4>Back to account information.</h4>
  <a href="/account/editaccount/" class="btn btn-danger"><<<</a>  
  <h3>
    Please enter your new password information
  </h3>

<div class="container">
  <form action="/account/changepassword/" method="POST">
    <table>
    ${ form }
    </table>
    <input class='btn btn-primary' type="submit">
  </form>



</div>
</%block>
