<%inherit file="app_base.htm" />

<%block name="title">
  Edit Account Information
</%block>



<%block name="content">
 <a href="/account/index/" class="btn btn-danger"> <<< Back </a> 
 <h3>
    Please enter your account information.
  </h3> 


<div class="container">
<div class="row">
<div class="column col-md-9">
  <form action="/account/editaccount/" method="POST">
    <table>
    ${ form }
    </table>
    <input class='btn btn-danger' type="submit">
  </form>
</div>

<div class="column col-md-3">
  <h4>Want to change your password?</h4>
  <a href="/account/changepassword/" class="btn btn-danger">Change</a>
</div>
</div>
</div>
</%block>
