<%inherit file="app_base.htm" />

<%block name="content">
    <center><div class="content">
      Hey, ${request.user.first_name}.  Welcome to your account page.  From here you can view and edit your personal information.
    </div>
    <br>

    <a href="/account/editaccount/" class="btn btn-danger">Update Account</a>
    <a href="/account/changepassword/" class="btn btn-danger">Change Password</a>

    <br><br>
    Your current account level is <b><u>
    %if request.user.groups.filter(name="Administrator").exists():
      Admin
    %elif request.user.groups.filter(name="Volunteer").exists():
      Volunteer
    %else:
      Basic User
    %endif
    %if request.user.groups.filter(name="Administrator").exists() == False and request.user.has_permission:
      with special permissions
    %endif
  </u></b>.  If you wish to change this, please <a style="color:black" href="/homepage/contact/"><u>contact us.</u></a>
</center>
<br><br><br>
  %if request.user.has_permission and request.user.groups.filter(name="Administrator").exists() == False:
      <h4><u>Your Current Permissions</u></h4>
      <ul>
      %for permission in permissions:
        <li>${permission}</li>
      %endfor
    </ul>
  %endif
</%block>
