<%inherit file="base_ajax.htm" />



<%block name="content">

    <Form id="loginform" action="/account/login/" method="post">
        <table align="center">
            ${ form.as_p() }

            <center><input class="btn btn-primary" align="center" type="submit" value="Login" style="width: 150px"/></center>
        </table>
    </Form>

</%block>

