<%inherit file="/homepage/templates/base.htm" />
<%block name="app_options">
<li class="${ 'active' if request.dmp_router_page == 'index' else ''}"><a href="/manager/index/">Admin Home<span class="sr-only">(current)</span></a></li>
%if request.user.has_perm('account.add_user') or request.user.has_perm('account.change_user') or request.user.has_perm('account.delete_user'):
  <li class="${ 'active' if request.dmp_router_page == 'users' else ''}"><a href="/manager/users/">Users</a></li>
%endif
%if request.user.has_perm('catalog2.add_venue') or request.user.has_perm('catalog2.change_venue') or request.user.has_perm('catalog2.delete_venue'):
  <li class="${ 'active' if request.dmp_router_page == 'venues' else ''}"><a href="/manager/venues/">Venues</a></li>
%endif
%if request.user.has_perm('catalog2.add_event') or request.user.has_perm('catalog2.change_event') or request.user.has_perm('catalog2.delete_event') or request.user.has_perm('catalog2.add_area') or request.user.has_perm('catalog2.change_area') or request.user.has_perm('catalog2.delete_area'):
  <li class="${ 'active' if request.dmp_router_page == 'contact' else ''}"><a href="/manager/events/">Events</a></li>
%endif
%if request.user.has_perm('catalog2.add_product') or request.user.has_perm('catalog2.change_product') or request.user.has_perm('catalog2.delete_product') or request.user.has_perm('catalog2.add_rentable_item') or request.user.has_perm('catalog2.change_rentable_item') or request.user.has_perm('catalog2.delete_rentable_item') or request.user.has_perm('catalog2.add_individual_item') or request.user.has_perm('catalog2.change_individual_item') or request.user.has_perm('catalog2.delete_individual_item') or request.user.has_perm('catalog2.add_bulk_item') or request.user.has_perm('catalog2.change_bulk_item') or request.user.has_perm('catalog2.delete_bulk_item'):
  <li class="${ 'active' if request.dmp_router_page == 'products' else ''}"><a href="/manager/products/">Products</a></li>
%endif

<!--<li class="${ 'active' if request.dmp_router_page == 'terms' else ''}"><a href="/homepage/terms/">Terms and Conditions</a></li>-->
</%block>
