<%inherit file="app_base.htm" />

<%block name="title">
  Change User Password
</%block>



<%block name="content">


  <h3>
    Please enter the new password information
  </h3>

<div class="container">

  <form action="/manager/changeuserspassword/${user.id}" method="POST">
    <table>
    ${ form }
    </table>
    <input class='btn btn-primary' type="submit">
  </form>
<br>
After you submit, you will be logged out
<br>

<a href="/manager/editusers/${user.id}/" class="btn btn-danger"><<<< Back</a>
</div>
</%block>
