<%inherit file="app_base.htm" />

<%block name="title">
  Create a Product
</%block>


<%block name="content">
  <h3>
    Please the product information.
  </h3>
  <a href="/manager/products/" class="btn btn-danger"><<< Back</a>

<div class="container">

  <form action="/manager/createproduct/" method="POST">
    <h3>${error}</h3>
    <b>* indicates a required field.</b><br><br>
    <table>
    ${ form }
    </table>
    <input class='btn btn-danger' type="submit">
  </form>
</div>

</%block>

<%block name="content_right">
You have permission to create:
<ul>
%if request.user.has_perm('catalog2.add_bulk_item') or request.user.has_perm('catalog2.add_product'):
  <li>bulk items </li>
%endif
%if request.user.has_perm('catalog2.add_individual_item') or request.user.has_perm('catalog2.add_product'):
  <li>individual items </li>
%endif
%if request.user.has_perm('catalog2.add_rentable_item') or request.user.has_perm('catalog2.add_product'):
  <li>rental items</li>
%endif
</ul>

</%block>
