<%inherit file="base_ajax.htm" />
<%block name="title">
  Create Area
</%block>



<%block name="content">
%if request.user.has_perm('catalog2.add_area'):

  <form id="createform" action="/manager/createarea/${id}" method="POST">
    <b>* indicates a required field.</b><br><br>
    ${id}
    <table>
    ${ form }
    </table>
    <input class='btn btn-primary' type="submit">
  </form>
%else:
<h1>${error}</h1>
%endif
</%block>
