<%inherit file="app_base.htm" />

<%block name="title">
  Create a User
</%block>

<%block name="content">
  <h3>
    Please enter the account information.
  </h3>
  <a href="/manager/users/" class="btn btn-danger"><<< Back</a>

<div class ="container">

  <form action="/manager/createuser/" method="POST">
    <b>* indicates a required field.</b><br><br>
    <table>
    ${ form }
    </table>
    <input class='btn btn-danger' type="submit">
  </form>
  <br><br><br><br><br>

</div>
</%block>
