<%inherit file="app_base.htm" />

<%block name="title">
  Edit User Account Information
</%block>



<%block name="content">
  
  %if user == request.user:
    <div id="blockedit">
      <div id="blockedit2">
        You are attempting to edit your own account information.  This cannot be done here.<br>
        You can edit your account by clicking below.<br>
        <a class="btn btn-primary" href="/account/editaccount/">Edit My Account</a>
        <a class="btn btn-primary" href="/manager/users/">Back</a>
    </div>
    </div>
  %endif

  <a href="/manager/users/" class="btn btn-danger"><<< Back</a>

<div class="container">
<div class="row">
<div class="column col-md-9">
  <h3>
    Please enter the account information.
  </h3>
  <form method="POST">
    <table>
    ${ form }
    </table>
    <input class='btn btn-primary' id="editsubmit" type="submit">
  </form>
  <br><br><br><br><br>
</div>
	<div class="column col-md-3">
  	  <h4>Want to change their password?</h4>
  	  <a href="/manager/changeuserspassword/${user.id}/" class="btn btn-danger">Change</a>
	</div>

</div>
</div>
</%block>
