<%inherit file="app_base.htm" />

<%block name="title">
  Edit Event Information
</%block>


<%block name="content">

 <h3>
    Please enter the event information.
  </h3>
  <br><br><br><br>
    <a href="/manager/events/" class="btn btn-danger"> <<< Back </a>

<div class="container">
%if request.user.has_perm('catalog2.change_event'):
  <form method="POST">
    <table>
    ${ form }
    </table>
    <input class='btn btn-primary' id="editsubmit" type="submit">
  </form>
%else:
  <b><u>Name:</u></b> ${event.name}<br>
  <b><u>Description:</u></b> ${event.description}<br>
  <b><u>Start Date:</u></b> ${event.start_date}<br>
  <b><u>End Date:</u></b> ${event.end_date}<br>
  <b><u>Venue:</u></b> ${event.venue.address}, ${event.venue.city}, ${event.venue.state} ${event.venue.zipcode}<br>
  <b><u></u></b><br>


%endif

  <br><br><br><br><br>

%if request.user.has_perm('catalog2.add_area'):
  <p class="text-right"><a href="/manager/createarea/${event.id}" data-id="${event.id}" id="createareabutton" class="btn btn-danger">Add Area</a>
%endif
    <table class="table table-hover table-bordered" style="background-color:white">
      <tr>
        <th>Area Name</th>
        <th>Description</th>
        <th>Place</th>
        <th></th>
      </tr>
      %for area in areas:
        <tr>
          <td>${area.name}</td>
          <td>${area.description}</td>
          <td>${area.place_number}</td>

          <td>
            %if request.user.has_perm('catalog2.delete_area'):
              <a href="/manager/editevents.delete/${ area.id }/${event.id}" class="btn btn-primary delete_button">Delete</a>
            %endif
          </td>
        </tr>


      %endfor
    </table>
    <br><br><br><br><br>


    <div class="modal fade" id ="delete_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Confirm Deletion</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this area?</p>
    </div>
    <div class="modal-footer">
      <a type="confirm_delete_button" href="" id="realdeletebutton"  class="btn btn-default">Delete</a>
      <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
    </div>
    </div>--><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
</%block>
