<%inherit file="app_base.htm" />

<%block name="title">
  Edit User Account Information
</%block>


<%block name="content">
 

  <a href="/manager/venues/" class="btn btn-danger"><<< Back</a>
  <h3>
    Please enter the venue information.
  </h3>

<div class = "container">
  <form method="POST">
    <table>
    ${ form }
    </table>
    <input class='btn btn-primary' id="editsubmit" type="submit">
  </form>
  <br><br><br><br><br>
</div>
</%block>


<%block name="content_right">


</%block>
