<%inherit file="app_base.htm" />

<%block name="title">
  Edit Product
</%block>

<%block name="content">
 
  <h3>
    Please enter the product information.
  </h3>
  <a href="/manager/products/" class="btn btn-danger"><<< Back</a>
<br>
<div class="container">
<div class="row">
<div class="column col-md-8">
  <form method="POST">
    <table>
    ${ form }
    </table>
    <input class='btn btn-primary' id="editsubmit" type="submit">
  </form>
  <br><br><br><br><br>
</div>

<div class="column col-md-4">
  <img src="${p.image}" style="width:80%">
</div>
</div>
</div>
</%block>