<%inherit file="app_base.htm" />

<%block name="title">Current Events</%block>

<%block name="content">
    <p class="text-left"><a href="/manager/index/" class="btn btn-danger"><<< Back </a>
      %if request.user.has_perm('catalog2.add_event'):
        <p class="text-right"><a href="/manager/createevent/" class="btn btn-danger">Create event</a>
      %endif
<div class="container">
      <table class="table table-striped" style="background-color:white">
        <tr>
          <th>Event Name</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Venue</th>
          <th>Actions</th>
          <th></th>
        </tr>
        %for event in events:
          <tr>
            <td>${event.name}</td>
            <td>${event.description}</td>
            <td>${event.start_date}</td>
            <td>${event.end_date}</td>
            <td>${event.venue.name}</td>

            <td>
              %if request.user.has_perm('catalog2.change_event') or request.user.has_perm('catalog2.add_area') or request.user.has_perm('catalog2.change_area') or request.user.has_perm('catalog2.delete_area'):
                <a class="btn btn-info" href="/manager/editevents/${event.id}/">Edit</a>
              %endif
            </td>
            <td>
              %if request.user.has_perm('catalog2.delete_event'):
                <a href="/manager/events.delete/${ event.id }" class="delete_button btn btn-info">Delete</a>
              %endif
            </td>
          </tr>


        %endfor
      </table>
      <div class="modal fade" id ="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this event?</p>
      </div>
      <div class="modal-footer">
        <a type="confirm_delete_button" href="" id="realdeletebutton"  class="btn btn-default">Delete</a>
        <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
      </div>
      </div>--><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
</div>
</%block>
