<%inherit file="app_base.htm" />

<%block name="content">

<div class="container">
%if request.user.has_perm('account.add_user') or request.user.has_perm('account.change_user') or request.user.has_perm('account.delete_user'):
  <tile>
    <center>
  <h3>Users</h3>
  <a href="/manager/users/">
    <img src="${ STATIC_URL }homepage/media/images/users.jpg" style="width:75%">
  </a>
  </center>
</tile>
%endif

%if request.user.has_perm('catalog2.add_venue') or request.user.has_perm('catalog2.change_venue') or request.user.has_perm('catalog2.delete_venue'):
  <tile>
    <center>
      <h3>Venues</h3>
      <a href="/manager/venues/">
    <img src="${ STATIC_URL }homepage/media/images/venues.jpg" style="width:75%">
    </a>
    </center>
  </tile>
%endif
%if request.user.has_perm('catalog2.add_product') or request.user.has_perm('catalog2.change_product') or request.user.has_perm('catalog2.delete_product') or request.user.has_perm('catalog2.add_rentable_item') or request.user.has_perm('catalog2.change_rentable_item') or request.user.has_perm('catalog2.delete_rentable_item') or request.user.has_perm('catalog2.add_individual_item') or request.user.has_perm('catalog2.change_individual_item') or request.user.has_perm('catalog2.delete_individual_item') or request.user.has_perm('catalog2.add_bulk_item') or request.user.has_perm('catalog2.change_bulk_item') or request.user.has_perm('catalog2.delete_bulk_item'):
  <tile>
    <center>
    <h3>Products</h3>
    <a href="/manager/products/">
  <img src="${ STATIC_URL }homepage/media/images/products.jpeg" style="width:75%">
  </a>
  </center>
</tile>
%endif

%if request.user.has_perm('catalog2.add_event') or request.user.has_perm('catalog2.change_event') or request.user.has_perm('catalog2.delete_event') or request.user.has_perm('catalog2.add_area') or request.user.has_perm('catalog2.change_area') or request.user.has_perm('catalog2.delete_area'):
  <tile>
    <center>
  <h3>Events</h3>
  <a href="/manager/events/">
    <img src="${ STATIC_URL }homepage/media/images/events.jpg" style="width:75%">
  </a>
  </center>
</tile>
%endif
</div>
</%block>
