<%inherit file="app_base.htm" />

<%block name="title">Current Products</%block>

<%block name="content">
  <p class="text-left"><a href="/manager/index/" class="btn btn-danger"><<< Back </a>
  %if request.user.has_perm('catalog2.add_product') or request.user.has_perm('catalog2.add_bulk_item') or request.user.has_perm('catalog2.add_rentable_item') or request.user.has_perm('catalog2.add_individual_item'):
    <p class="text-right"><a href="/manager/createproduct/" class="btn btn-danger">Create Product</a>
  %endif
  <br>
  <h3>${error}</h3>
<div class="container">
<p>*******Click on the images to see an enlarged version</p>
  <table class="table table-striped" style="background-color:white">
    <tr>
      <th>Product Name</th>
      <th>Image</th>
      <th>Description</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Actions</th>
      <th></th>
    </tr>
    %for product in products:
      %if (request.user.has_perm('catalog2.add_product') or request.user.has_perm('catalog2.change_product') or request.user.has_perm('catalog2.delete_product')) or (product.item_type == 'Bulk' and (request.user.has_perm('catalog2.add_bulk_item') or request.user.has_perm('catalog2.change_bulk_item') or request.user.has_perm('catalog2.delete_bulk_item')) or (product.item_type == 'Rental' and (request.user.has_perm('catalog2.add_rentable_item') or request.user.has_perm('catalog2.change_rentable_item') or request.user.has_perm('catalog2.delete_rentable_item'))) or (product.item_type == 'Individual' and (request.user.has_perm('catalog2.add_individual_item') or request.user.has_perm('catalog2.change_individual_item') or request.user.has_perm('catalog2.delete_individual_item')))):
      <tr>
      <td>${product.name}</td>
      <td><a href="${product.image}" class="picture_button" data-toggle="modal" data-target="#picture_modal"><img src="${product.image}" style="height:50px"></a></td>
      <td>${product.description}</td>
      <td>${product.item_type}</td>
      <td>
        %if product.item_type == 'Bulk':
          <span class="quantity">${product.quantity}</span>
          <button data-id="${product.id}" class="btn btn-info update_button"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
        %endif
        %if product.item_type == 'Rental':
          %if product.rented_now == False:
            1 Currently Available
          %else:
            None Available
          %endif
        %endif
        %if product.item_type == 'Individual':
          %if product.available:
            1 Currently Available
          %else:
            None Available
          %endif
        %endif
      </td>
      <td>
        %if request.user.has_perm('catalog2.change_product') or (product.item_type == 'Bulk' and request.user.has_perm('catalog2.change_bulk_item')) or (product.item_type == 'Individual' and request.user.has_perm('catalog2.change_individual_item')) or (product.item_type == 'Rental' and request.user.has_perm('catalog2.change_rentable_item')):
          <a class="btn btn-info" href="/manager/editproduct/${product.id}/">Edit</a>
        %endif
      </td>
      <td>
        %if request.user.has_perm('catalog2.delete_product') or product.item_type == 'Bulk' and request.user.has_perm('catalog2.delete_bulk_item') or product.item_type == 'Individual' and request.user.has_perm('catalog2.delete_individual_item') or product.item_type == 'Rental' and request.user.has_perm('catalog2.delete_rentable_item'):
          <a href="/manager/products.delete/${ product.id }" class="btn btn-info delete_button">Delete</a>
        %endif
      </td>
      </tr>
      %endif

      <div class="modal fade" id ="delete_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete ${product.name}?</p>
            </div>
            <div class="modal-footer">
              <a type="confirm_delete_button" href="" id="realdeletebutton"  class="btn btn-default">Delete</a>
              <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <div class="modal fade" id ="picture_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <img id="closepic" src="${product.image}" style="width:100%">
            </div>
            <div class="modal-footer">
              <button type="button"  data-dismiss="modal" class="btn btn-primary">Close</button>
            </div>
          </div>--><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    %endfor
  </table>
</div>
</%block>
