<%inherit file="app_base.htm" />

<%block name="title">Current Users</%block>

<%block name="content">
<div class="container">
%if request.user.has_perm('account.add_user'):
  
    <div class="form-group">
        <button type="submit" class="btn btn-danger text-right" onclick="window.location.href='/manager/createuser'">            
            Create User            
        </button>
    </div>

%endif

      <table class="table table-striped table-hover" style="background-color:white">
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Groups</th>
          <th>Actions</th>
        </tr>
        %for user in users:
          <tr>
            <td>${user.username}</td>
            <td>${user.first_name}</td>
            <td>${user.last_name}</td>
            <td>${user.email}</td>
            <td>

              ${user.groups.all().values_list('name', flat=True)}


            </td>
            <td>
              %if request.user.has_perm('account.change_user'):
                <a class="btn btn-info" href="/manager/editusers/${user.id}/">Edit</a>
              %endif
              %if request.user.has_perm('account.delete_user'):
                <a href="/manager/users.delete/${ user.id }" class="btn btn-info delete_button">Delete</a>
              %endif
            </td>
          </tr>


        %endfor
      </table>

      <div class="modal fade" id ="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this user?</p>
      </div>
      <div class="modal-footer">
        <a type="confirm_delete_button" href="" id="realdeletebutton"  class="btn btn-default">Delete</a>
        <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
      </div>
      </div>--><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
</div>
</%block>

