<%inherit file="app_base.htm" />

<%block name="title">Current Venues</%block>

<%block name="content">
<p class="text-left"><a href="/manager/index/" class="btn btn-danger"><<< Back </a>
    %if request.user.has_perm('catalog2.add_venue'):
      <p class="text-right"><a href="/manager/createvenue/" class="btn btn-danger">Create venue</a>
    %endif

<div class="container">
      <table class="table table-striped" style="background-color:white">
        <tr>
          <th>Venue Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</ht> 
          <th>Actions</th>
        </tr>
        %for venue in venues:
          <tr>
            <td>${venue.name}</td>
            <td>${venue.address}<br>  </td>
            <td>${venue.city}</td>
            <td>${venue.state}, ${venue.zipcode}</td> 
            <td>
              %if request.user.has_perm('catalog2.change_venue'):
                <a class="btn btn-info" href="/manager/editvenues/${venue.id}/">Edit</a>
              %endif
              %if request.user.has_perm('catalog2.delete_venue'):
                <a href="/manager/venues.delete/${ venue.id }" class="btn btn-info delete_button">Delete</a>
              %endif
            </td>
          </tr>


        %endfor
      </table>
      <div class="modal fade" id ="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Deletion</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this venue?</p>
      </div>
      <div class="modal-footer">
        <a type="confirm_delete_button" href="" id="realdeletebutton"  class="btn btn-default">Delete</a>
        <button type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
      </div>
      </div>--><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
</div>
</%block>

