#maintenance_message{
    background-color: #f90004;
    min-height: 0px;
    color: lightblue;
    font-size: 16px;
    font-style: oblique;
    text-align: center;

}

#alert_message{
  position: fixed;
  top: 6px;
  right: 6px;
  color: #000000;
  font-size: 12px;
  text-align: center;
  min-height: 0px;
  z-index: 10;
}

#content_top{
  font-size: 36px;
  font-family: fantasy;
}
#content_center{
  min-height: 400px;
  padding: 15px;
}
#content_left{
  min-height: 400px;
  padding: 15px;
}
#content_right{
  padding: 15px;
  min-height: 400px;
}

.loginbutton{
  position: fixed;
  top: 30px;
  right: 30px;
  height:30px;
  width:75px;
}

#mybutton{
  position: fixed;
  top: 30px;
  right: 30px;
  height:30px;
  width:75px;
}

#footer{
  right:0px;
  left:0px;
  bottom:0px;
  height:50px;
  position:fixed;
  background-color: grey;
}

#blockedit{
  right:0px;
  left:0px;
  bottom:0px;
  top:0px;
  background-color: black;
  position: fixed;
  opacity: 0.85;
  z-index: 12;
}

#blockedit2{
  width:300px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  top: 100px;
  opacity: 1.0;
  font-size: 20px;

}

tile{
  width: 200px !important;
  height: 200px !important;
  border-color: grey;
  border-style: groove;
  align-content: center;
  padding:15px;
  margin:25px;
  float: left;
}

name{
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}

cost{
  font-size: 14px;
}

.mya{
  max-height: 125px;
  max-width: 75px;
}
