<%inherit file="/homepage/templates/base.htm" />
<%block name="app_options">

     <!-- <li class="${ 'active' if request.dmp_router_page == 'index' else ''}"><a href="/catalog2/index/">Product Home</a></li> -->
      <li class="${ 'active' if request.dmp_router_page == 'products' else ''}"><a href="/catalog2/products/">Product List<span class="sr-only">(current)</span></a></li>



      <!--<li class="${ 'active' if request.dmp_router_page == 'terms' else ''}"><a href="/homepage/terms/">Terms and Conditions</a></li>-->

</%block>
<%block name="content_top">

	<li> <a  class="btn btn-info" href="/catalog2/cart/">
<span id="cart" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> ${cart_quantity}</span>   
    </a></li>


</%block>
<%block name="content_right">
<center>
  <b><u>
    Recently Viewed:
  </b></u>
</center>
%for RecProd in recentproducts:
  <center>
     <a href="/catalog2/product-detail/${RecProd.id}" style="color:black">
       <img src="${RecProd.image}" style="width:50px"><br>
       ${RecProd.name}
     </a>
   </center>
%endfor
</%block>
