<%inherit file="app_base.htm" />

<%block name="title">Current Products</%block>
<%block name="content">

<a class="btn btn-danger" href="/catalog2/products"><<< Back to Products </a> <br><br>

<div class="container">
  <div class="row">
    <div class="column col-md-10">
              % if cart_quantity == 0:
                <h2>Your cart is empty!  Why don't you go shopping?</h2>
              %else:
              <p><a class="btn btn-danger" href="/catalog2/cart.clear/">Clear Cart</a></p>

              <table class="table table-striped">
                <tr>
                <th>Item</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price Per Item</th>
                <th>Total Price</th>
                <th></th>
              </tr>
                      %for item in cart:
                        <tr>
                          <th><a style="color:black" href="/catalog2/product-detail/${item.product_id}/">${item.name}</a></th>
                          <th><img style="width:75px; height:75px" src="${item.image}"></th>
                          <th>${item.quantity}</th>
                          <th>${item.price}</th>
                          <th>${item.calc_extended()}</th>
                          <th><a style="color:black" href="/catalog2/cart.remove_item/${item.product_id}">Remove</a>
                        </tr>

                      %endfor
                      <tr>
                        <th>Subtotal</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>$${request.shopping_cart.calc_subtotal()}</th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>Tax</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>$${request.shopping_cart.calc_tax()}</th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>Shipping</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>$${request.shopping_cart.calc_shipping()}</th>
                        <th></th>
                      </tr>
                      <tr>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>$${request.shopping_cart.calc_total()}</th>
                        <th></th>
                      </tr>

              </table>
                      <a class="btn btn-danger" href="/catalog2/checkout/">Checkout</a>
              %endif
            </div> <!--first column -->
              <div class=col-md-2>
              <center>
                <b><u>
                  Recently Viewed:
                </b></u>
              </center>
              %for RecProd in recentproducts:
                <center>
                   <a href="/catalog2/product-detail/${RecProd.id}" style="color:black">
                     <img src="${RecProd.image}" style="width:50px"><br>
                     ${RecProd.name}
                   </a>
                 </center>
              %endfor
            </div>
        </div>
</div>
</%block>
