<%inherit file="app_base.htm" />

<%block name="title">Current Products</%block>

<%block name="content">
<div class="container">
      <a class="btn btn-danger" href="/catalog2/cart/"><<< Back </a> <br><br>
      <h3> Please enter your shipping information below: </h3> <br>
      %if user.is_authenticated():
      <form action="/catalog2/checkout/" method="POST">
        <table>
        ${ form }
        </table>
        <input class='btn btn-danger' type="submit">
      </form>
      <br><br>
      %else:
        You need to log in to continue
      %endif
      <center>
        %if request.method == "POST":
          <h4>Google has suggested a better address for the shipment.  You can choose to use it, or stay with your own.</h4><br>
        <div class="col-sm-6"><h4>Your Entry</h4><br>${address}</div>
        <div class="col-sm-6"><h4>Google's Suggestion</h4><br>${goog_address}</div>
        %endif
      </center>
</div>
</%block>
