<%inherit file="app_base.htm" />

<%block name="title">Current Products</%block>
<%block name="content">
  <div class="container">
    <div class="row">
      <div class="column col-md-3">
          <p>Items will be shipped to:</p>
          <center>
               ${address}
          </center>
      </div>
      <div class="column col-md-9">
          <h2>Review Your Order</h2>
          <table class="table table-striped">
            <tr>
            <th>Item</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price Per Item</th>
            <th>Total Price</th>
            <th></th>
          </tr>
                  %for item in cart:
                    <tr>
                      <th><a style="color:black" href="/catalog2/product-detail/${item.product_id}/">${item.name}</a></th>
                      <th><img style="width:75px; height:75px" src="${item.image}"></th>
                      <th>${item.quantity}</th>
                      <th>${item.price}</th>
                      <th>${item.calc_extended()}</th>
                      <th><a style="color:black" href="/catalog2/cart.remove_item/${item.product_id}">Remove</a>
                    </tr>

                  %endfor
                  <tr>
                    <th>Subtotal</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>$${request.shopping_cart.calc_subtotal()}</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>Tax</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>$${request.shopping_cart.calc_tax()}</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>$${request.shopping_cart.calc_shipping()}</th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>$${request.shopping_cart.calc_total()}</th>
                    <th></th>
                  </tr>

          </table>
          <a class="btn btn-danger" href="/catalog2/checkout/"><<< Back </a> <br><br>
          <form action="/catalog2/payment/" method="POST">
            ${form}
            <div>
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_oiIS9Npinx2In2bXjYqtOzM9"
              data-amount="${price}"
              data-name="Chf"
              data-description="${cart_number} items"
              data-image="${ STATIC_URL }homepage/media/homeicon.jpeg"
              data-locale="auto">
            </script>
          </div>
          </form>
          <br><br>
          <center>

          </center>
      </div>
  </div>
</%block>
