<%inherit file="app_base.htm" />

<%block name="title">Current Products</%block>

<%block name="content">

<div class="container">
  <div class="row">
    <a class="btn btn-danger" href="/catalog2/products/"><<< Back to Products</a> <br><br>
          %if not product.item_type == "Rental":
          <div class="col-md-4" >
              <a class="picture_button" data-toggle="modal" data-target="#picture_modal">
                      <center>
                        <font style="font-size:10px; color:white; margin:3px">Click to Enlarge</font><br>
                        <img src="${product.image}" style="width:75%"><br>
                        <font style="font-size:10px; color:white; margin:3px">Additional Photos:</font><br>
                      </center>
                      <center>
                      %for i, picture in enumerate(pictures):
                              <img src="${picture.image}" style="width:15%; opacity:0.47">
                      %endfor
                    </center>
              </a>
          </div>
          <div class="col-md-6">
                        <font>

                              <name>${product.name}</name>
                            <br><br>
                            ${product.description}
                            <br><br>
                            More text about the product.  More text about the product.  More text
                            about the product.  More text about the product.  More text about
                            the product.  More text about the product.  More text about the
                            product.  More text about the product.  More text about the product.
                            More text about the product.  More text about the product.  More
                            text about the product.  More text about the product.  More text
                            about the product.  More text about the product.  More text about
                            the product.  More text about the product.  More text about the product.

                            %if product.item_type == "Individual":
                              Creator: ${product.creator.username}<br><br>
                              %if product.available:
                                <a  id="add_button" data-id="${product.id}" class="btn btn-info">Purchase</a>
                                <div style="background-color:white" id="item_alert">${message}</div>
                              %else:
                                This product is no longer available.  If you would still like to purchase it,
                                <a style="color:black" href="/homepage/contact/"><u>email us</u></a> to request one.<br><br>
                              %endif
                            %else:
                              %if product.quantity > 0:
                                <div>
                                  <br>
                                  <font id="available_quantity" data-id="${product.id}">${available_quantity}</font> available
                                </div>
                                <div id="div_add_form">
                                  <div style="background-color:white" id="item_alert">
                                    ${message}
                                  </div>
                                  <form action="/catalog2/product-detail.add_to_cart/${product.id}/" id="add_form" method="POST">
                                    <br>
                                    <table>
                                      ${form}
                                    </table>
                                    <input type="submit" data-id="${product.id}" class="btn btn-info">
                                  </form>
                                </div>
                              %else:
                                <br><br>
                                This product is no longer available.  If you would still like to purchase it,
                                <a style="color:black" href="/homepage/contact/"><u>email us</u></a> to request some.<br><br>
                              %endif
                            %endif
                            Price: <cost>$${product.price}</cost>
                          </font>

          </div>
          %endif
          <div class="col-md-2">
            <b><u>Recently Viewed:</u></b><br>
            %for RecProd in recentproducts:
              <font style="font-size:12px">${RecProd.name} </font> <br>
              <a href="/catalog2/product-detail/${RecProd.id}"><img src="${RecProd.image}" style="height:100px"></a><br>
            %endfor
          </div>
                    <div class="modal fade" id ="picture_modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              </div>
                            <div class="modal-body">
                              <div id="my_carousel">
                                <ul>
                                  <li class="image show">
                                    <center>
                                      <img src="${product.image}" style="height:250px">
                                    </center>
                                  </li>
                                  %for i, picture in enumerate(pictures):
                                    %if i == 0:
                                      <li class="image hide">
                                        <center>
                                          <img src="${picture.image}" style="height:250px">
                                        </center>
                                      </li>
                                    %else:
                                      <li class="image hide">
                                        <center>
                                          <img src="${picture.image}" style="height:250px">
                                        </center>
                                      </li>
                                    %endif

                                  %endfor
                                </ul>
                            </div>
                            </div>
                            <div class="modal-footer">
                              <center>
                                <button id="picleft"> <<< </button>
                                <button id="picright"> >>> </button>
                              </center><br>
                              <button type="button"  data-dismiss="modal" class="btn btn-primary">Close</button>
                            </div>
                          </div>--><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
    </div>
</div>
</%block>
