<%inherit file="base_ajax.htm" />



<%block name="content">
<div id="div_add_form">
<form action="/catalog2/product-detail.add_to_cart/${product.id}/" id="add_form" method="POST">
<br>
<div style="float:right; border-radius: 200px; padding:3px; background-color:white" id="item_alert">${message}</div>
<table>
    ${form}
  </table>
  <input type="submit" data-id="${product.id}" class="btn btn-info">
  <!--<a class="btn btn-info" id="add_button" data-id="${product.id}" href="/catalog2/product-detail.add_to_cart/${product.id}">Add to Cart</a>
--></form>
</div>

</%block>
