<%inherit file="app_base.htm" />

<%block name="title">Current Products</%block>


<%block name="content">
<div class="container">
  <div class="row">
    <div class="column col-md-3">
      <form method="POST">
        <b>Search Products</b><br><br>
        <table>
        ${ form.as_p() }
        </table>
        <input class='btn btn-danger' type="submit">
      </form>
<br><br><br>
      <a href="/catalog2/products/" style="color:black">
        %if request.urlparams[0] == "":
          <b>View All</b>
        %else:
          View All
        %endif
      </a><br>
      %for category in categories:
        <a href="/catalog2/products/${category.name}" style="color:black">
            %if request.urlparams[0] == category.name:
              <b>${category.name}</b>
            %else:
              ${category.name}
            %endif
        </a><br>
      %endfor
    </div>
    <div class="column col-md-7">
      <div class="content" style="text-align: center">
        %for product in products:
          %if (product.item_type == "Bulk" and product.quantity > 0) or (product.item_type == "Individual" and product.available == True):
          <tile class="bg-success">
              <center>
              <a href="/catalog2/product-detail/${product.id}">
                  <p>${product.name}</p>
                  <p><img src="${ product.image}" height="100px" width="100px"/></p>
                  <p>$${product.price}</p>
              </a>
              </center>
          </tile>
          %endif
        %endfor
      </div>
      </div>


        <div class=col-md-2>
        <center>
          <b><u>
            Recently Viewed:
          </b></u>
        </center>
        %for RecProd in recentproducts:
          <center>
             <a href="/catalog2/product-detail/${RecProd.id}" style="color:black">
               <img src="${RecProd.image}" style="width:50px"><br>
               ${RecProd.name}
             </a>
           </center>
        %endfor
      </div>
      </div> <!--row-->
</div> <!--container-->
</%block>
