<html lang="en">
<body>
<center>
  Thanks for your order!  It will be shipped to you soon!<br><br>
  {{sale.ship_name}}<br>
  {{sale.ship_address1}}<br>
  {% if not sale.ship_address2 == "" %}
  {{sale.ship_address2}}<br>
  {% endif %}
  {{sale.ship_city}}, {{sale.ship_state}} {{sale.ship_zipcode}}

  <br><br>
  <table>
    <tr>
      <th>Item</th>
      <th></th>
      <th>Price</th>
      <th></th>
      <th>Quantity</th>
      <th></th>
      <th>Total</th>
    </tr>
    <tr></tr>
  {% for item in saleitems %}
    <tr>
      {% if item.product == None %}
        <th>{{item.description}}</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>{{item.price}}</th>
      {% else %}
        <th>{{item.product.name}}</th>
        <th></th>
        <th>{{item.price}}</th>
        <th></th>
        <th>{{item.quantity}}</th>
        <th></th>
        <th>{{item.extended}}</th>
      {% endif %}
    </tr>
  {% endfor %}
  <tr>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>{{sale.total_price}}</th>
  </tr>
</table>
</center>
</body>
</html>
