
  <div class="container">
    <a class="btn btn-danger" href="/catalog2/products/"><<< Back to Products </a> <br><br>

    <center>
      Thanks for your order!  It will be shipped to you soon!<br><br>
      ${address}

      <br><br>
      <table>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
        <tr></tr>
      %for item in saleitems:
        <tr>
          %if item.product == None:
            <th>${item.description}</th>
            <th></th>
            <th></th>
            <th>${item.price}</th>
          %else:
            <th>${item.product.name}</th>
            <th>${item.price}</th>
            <th>${item.quantity}</th>
            <th>${item.extended}</th>
          %endif
        </tr>
      %endfor
    </table>
    </center>
 </div>
