/**************************** tiles  *************************************/

.tiles{
  display: inline-block;
  padding:20px;
  box-sizing:border-box;
  box-shadow:inset 0px 0px 10px #777777;
  opacity:20;
  background:#EEEEEE;
  width:200px;
  height: 250px;
  margin: 10px;
  text-align: center;
}


/**************************** End of tiles ******************************/
tile{
  width: 250px;
  height: 500px;
  align-content: center;
  padding:15px;
  margin:25px;  
  background-color: #EEEEEE;
}
