## this is the skeleton of all pages on in this app - it defines the basic html tags

## set up a StaticRenderer object to enable the CSS/JS automatic inclusion magic.
<%! from django_mako_plus.controller import static_files %>
<%  static_renderer = static_files.StaticRenderer(self) %>

<!DOCTYPE html>
  <html lang="en">
<!-- Title, bootstrap imports, css links -->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="The colonial heritage foundation is the top ranked american heritage festival in the western United States. Our american heritage festival offers many
	custom and bulk american products and offers a great american experience.">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>
        <%block name="title">
        </%block>
      </title>

      ${ static_renderer.get_template_css(request,context) }
      <!-- Bootstrap -->
     <link rel="icon" href="${ STATIC_URL }homepage/media/homeicon.jpeg" type="image/x-icon"/>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap.min.css"  crossorigin="anonymous">
      <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap.css"  crossorigin="anonymous">
      <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap/css/bootstrap-datetimepicker.min.css"  crossorigin="anonymous">
    </head>
<!-- Main body-->
    <body style="color:black;" >
      <%block name="main_body">
<!-- Maintenance and alert messages -->
        <div id="maintenance_message">
          <%block name="maintenance">
          </%block>
        </div>
        <div id="alert_message" class="col-sm-2 bg-danger">
          <%block name="Alert_Message">
          </%block>
        </div>
<!-- Menu and header area -->
        <div class="bg-primary">
          <header>
            <%block name="header">
              <img src="${ STATIC_URL }homepage/media/homeicon.jpeg" style="height:100px; width:100px; float:left"><br>
              <h1 style="font-family: Impact, Charcoal, sans-serif; color:black">
                %if request.user.is_authenticated():
                  Welcome${ ", " + request.user.first_name }!
                %else:
                  Welcome!
                %endif
              </h1>
              <nav class="navbar navbar-inverse">

                  <%block name="main_menu">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand ${ 'active' if request.dmp_router_page == 'index' else ''}" href="/homepage/index/" style="margin-top:-15px; margin-left:-105px"><img src="http://2.bp.blogspot.com/-Al9-SWLlHdo/UmGvQhcFQqI/AAAAAAAAACk/mBRacWRhQSw/s400/logoH2.png" style="height:55px; Width:300px;"/></a>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                      <ul class="nav navbar-nav">
                        <li class="${ 'active' if request.dmp_router_page == 'homepage' else ''}"><a href="/homepage/">Home</a></li>

                        <%block name="app_options">
                        </%block>
                      </ul>



                      <ul class="nav navbar-nav navbar-right">

<%block name="content_top">
                    </%block>


                        <li>
                          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      My Account
                      <span class="caret"></span>
                    </a>



                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="padding:5px; min-width: 250px; background-color: #bed1eb">
                      %if request.user.is_authenticated():
                          <div class="form-group">
                              <button type="submit" class="btn btn-info btn-block" onclick="window.location.href='/catalog2/products/'">
                                    Catalog
                              </button>
                          </div>
                          <div class="form-group">
                              <button type="submit" class="btn btn-info btn-block" onclick="window.location.href='/account/index/${request.user.id}'">
                                    ${request.user.first_name }'s Account
                              </button>
                          </div>


                        %if request.user.groups.filter(name="Administrator").exists():

                          <div class="form-group">
                              <button type="submit" class="btn btn-info btn-block" onclick="window.location.href='/manager/index'">
                                    Administrator Page
                              </button>
                          </div>

                        %elif request.user.has_permission:
                          <div class="form-group">
                              <button type="submit" class="btn btn-info btn-block" onclick="window.location.href='/manager/index'">
                                    Administrator Page
                              </button>
                          </div>
                        %endif
                        <li role="separator" class="divider"></li>

                          <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-block" onclick="window.location.href='/account/logout/'">
                                    Sign Out
                              </button>
                          </div>

                      %else:
                          <div class="form-group">
                              <button type="submit" class="btn btn-info btn-block" onclick="window.location.href='/account/signup'">
                                    Create an Account
                              </button>
                          </div>

                        <li role="separator" class="divider"></li>
                          <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-block" id="loginbutton" ">
                                    Log In
                              </button>
                          </div>

                      %endif
                    </ul>
                  </li>




                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                  </%block>


              </nav>
            </%block>
          </header>
        </div>








<!-- Three columns of content -->
	<%block name = "content">
        <div style="padding:100px; background-image : url('http://wallpapercave.com/wp/ItXShd5.jpg'); background-repeat: no-repeat; background-size: 1600px 600px; margin-top:-20px; ">
          <%block name="content_main">
          <div id="content_left" class="col-sm-2" style="background-color:white; height:100%">
            <%block name="content_left">
            </%block>
          </div>
          <div id="content_center" class="col-sm-9" style="background-color:white; height:100%">
            <%block name="content_center">
            </%block>
          </div>
          <div id="content_right" class="col-sm-1" style="height:100%; background-color:white; float:right">
            <%block name="content_right">
            </%block>
          </div>
          </%block>
        </div>
	</%block>
	</div>




<!-- Footer -->
        <footer>
          <p class="text-muted">
            <%block name="footer">
            <div class="row">
            <center>
              <%
                  import datetime
                  now = datetime.date.today().year
              %>
              Colonial Heritage Foundation <br> &copy All Rights Reserved <br>

            </center>
            <div class="col-sm-6">

            </div>
            <div class="col-sm-2">

            </div>
          </div>



            </%block>
          </p>
        </footer>
        </%block>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
        <script src="${ STATIC_URL }homepage/media/jquery-2.2.0.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="${ STATIC_URL }homepage/media/bootstrap/js/bootstrap.min.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.loadmodal.js"></script>
        <script src="${ STATIC_URL }homepage/media/jquery.form.js"></script>
        <script src="${ STATIC_URL }homepage/media/moment.js"></script>
        <script src="${ STATIC_URL }homepage/media/bootstrap/js/bootstrap-datetimepicker.min.js"></script>

      ${ static_renderer.get_template_js(request, context)  }
    </body>
  </html>
