<%inherit file="app_base.htm" />

<%block name="title">
  Contact Us
</%block>


<%block name="content">

<div class="container">
<div class="row">		
  <h3>
    Contact us!
  </h3>
</div>
</div>

<div class ="container">
<div class="row">
<div class="column col-md-9">
  <form action="/homepage/contact/" method="POST">
    Your name:
    <br><br>
    <input type="text" name="name" style="width:100%">
    <br><br>
    Your email address:
    <br><br>
    <input type="text" name="email" style="width:100%">
    <br><br>
    Message body:
    <br><br>
    <input type="text" name="message" style="height:200px; width:100%">
    <br><br>
    <input type="submit">
  </form>
</div>
<div class="column col-md-3">
Have a question, comment, or concern?  Shoot us an email by using the form!
</div>
</div>
</div>



</%block>

