<%inherit file="app_base.htm" />

<%block name="title">
  FAQ
</%block>


<%block name = "content">
<div class="container">

  <h2> Frequently Asked Questions </h2> 
  <br>		
  <h4>
    Q: What is the foundation about?
  </h4>
  <p>
    The Colonial Heritage Foundation (the Foundation) is a 501(c)(3) corporation
    dedicated to the preservation of the values, culture, skills and history of
    America's founding. To accomplish this mission, the Foundation engages in a
    broad array of activities. Among these are the development and presentation
    of educational exhibits, the coordination of reading and discussion groups to
    encourage the study of America's historical writings, the presentation of
    lectures and seminars regarding America's founding era, the coordination of
    historical reenactments and skill demonstrations, and the coordination of
    internships and apprenticeships that teach the occupational skills of early
    America.
  </p>
  <br>
  <h4>
    Q: What items are available for rent?
  </h4>
  <p>
    Many items used in the Heritage Festival are available for rent, such as
    costumes, workshop items, and other relics.
  </p>
  <br>

  <h4>
    Q: What about internships?
  </h4>
  <p>
    In conjunction with its educational exhibits, the Foundation offers unpaid
    internships intended for students studying Museum Studies or History
    Education.  Individuals selected for the program spend one to three months
    accompanying educational exhibits to schools, teaching students about Colonial
    American History and portraying notable figures from the period.
  </p>
</div>
</%block>

