<%inherit file="app_base.htm" />

<%block name="title">
  CHF
</%block>



<%block name="content_main">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="cover">
      <div class="cover-image" style="background-image : url('http://wallpapercave.com/wp/ItXShd5.jpg')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 style="color:white; text-shadow: 2px 2px black;">Colonial Heritage Festival</h1>
            <p style="color:white; text-shadow: 2px 2px black;">Find a new connection to your american roots.</p>
            <br>
            <br>
            <a class="btn btn-lg btn-primary" href="#learn" >Learn More</a>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="section">
  <div class="container">
    <div class="row">
<a name="learn"> </a>
      <div class="col-md-6">
        <img src="http://www.revolutionarywarreenacting.com/RevolutionaryWarReenacting_002_small.jpg"
        class="img-responsive">
      </div>
      <div class="col-md-6">
        <h1 class="text-primary">The Festival</h1>
        <h3>Some info about the big event</h3>
        <p>Every year we gather together and create an amazing re-enactment of the
          revolutionary war and many other early american themes. Whether you are
          an american or not, this is a great way to learn about the birth of the
          United States in a fun and relaxed way.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-primary">Products</h1>
        <h3>A basic run threw of what we have to offer</h3>
        <h4>The Colonial Heritage Foundation has accumulated many valuable artifacts
          from the days of the founding of the USA. We offer interested customers
          a chance to purchase some of these individual objects.
          <br>
          <br>We also have many presently made bulk products at an economic price for
          those who just want a little souvenir to take home.</h4>
      </div>
      <div class="col-md-6">
        <img src="https://www.thefreedomtrail.org/images/stepofftrail/PrintingPress.jpg"
        class="img-responsive">
      </div>
    </div>
  </div>
</div>


</%block>

