<%inherit file="app_base.htm" />

<%block name="title">
  Signup 
</%block>


<%block name="content">
   
   <a href="/homepage/index/" class="btn btn-danger"><<< Back to Homepage</a>
   

    <div class="container">
        <div class="row">
  		<h3>
    			Please enter your account information Below!
  		</h3>
            <Form action="/account/signup/" method="post">
                <div class="col-lg-6">
                    <table>
                        <div class="well well-sm"><strong>* Required Fields</strong></div>

                        ${ form.as_p() }
                    </table>

                    <input class="btn btn-primary pull-right" align="center" type="submit" value="Submit" />
                </div>
            </Form>
        </div>
    </div>
</%block>
