﻿<%inherit file="app_base.htm" />

<%block name="title">
    Terms | Colonial Heritage Foundation
</%block>

<%block name="content">
    <div id="masthead">
      <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1>Terms
                <p class="lead">in Alphabetical order</p>
              </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg">
                  <div class="row">
                    <div class="col-sm-12">
                        <!--<img src="${ STATIC_URL }homepage/media/images/dragon.jpeg" class="img-responsive">-->
			<h2>Check out our Glossary!!!</h2>
                    </div>

                  </div>
                </div>
            </div>
          </div>
      </div><!--/container-->
    </div><!--/masthead-->

    <!--main-->
    <div class="container">
        <div class="row">
          <!--left-->
          <div class="col-md-3" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">
              <li><a href="#sec0">Apothecary</a></li>
              <li><a href="#sec1">Baker</a></li>
              <li><a href="#sec2">Basket Maker</a></li>
              <li><a href="#sec3">Blacksmith</a></li>
              <li><a href="#sec4">Broom Maker</a></li>
              <li><a href="#sec5">Caligrapher</a></li>
            </ul>
          </div><!--/left-->

          <!--right-->
          <div class="col-md-9">
            <h2 id="sec0">Apothecary</h2>
            <p>
              Historically, the term “Apothecary” referred to a medical professional who dispensed or provided knowledge about the therapeutic characteristics of substances used for healing. Apothecaries offered a wide variety of medical advice and services now performed by specialists. These ranged from midwifery to surgery. Apothecaries often established a place of business where, in addition to plying their trade, other items such as tobacco were sold. The apothecary was the forerunner to the modern chemist and pharmacologist. The apothecary vocation dates as early as 2,600 B.C. and continued throughout the American colonial period.
            </p>

            <hr>

            <h2 id="sec1">Baker</h2>
            <p>
            Throughout the American Colonial period, bread was baked in ovens made of brick, stone or clay. These ovens were heated by building a fire in the baking chamber then removing all the coals and ash and placing the dough directly on the hearth. Baking was achieved with only the heat retained in the surrounding masonry. Villages that were too small to support a commercial bakehouse often had community ovens where people brought dough, shaped into loaves, to be baked. Throughout the Colonial era English law dictated both the weight of loaves and the price at which those loaves could be sold. With stiff penalties for violations, bakers began including an extra item when customers purchased a dozen to avoid any question of wrongdoing, leading to the term “a baker’s dozen” for the quantity 13.
            </p>

            <hr>

            <h2 id="sec2">Basket Maker</h2>
            <p>
              Baskets are among the oldest artifacts of human civilization. Virtually every society made some form of baskets and the materials used were extremely varied. During much of the colonial period there was a thriving basket-maker’s guild in England that sent baskets in large quantities to the colonies. These baskets were largely sold in cities while rural areas tended to rely on locally-produced baskets. The preferred material for baskets in much of the colonies was white oak. Trees no larger than six inches in diameter were felled and the trunks divided into long, flexible, weaving splits. These were allowed to dry for a few days and were made into baskets of a variety of shapes and sizes by both men and women as basketry requires more dexterity than strength. Colonial children were taught these skills at very early ages
            </p>

            <hr>

            <h2 id="sec3">Blacksmith</h2>
            <p>
              Perhaps no tradesman was more important to Colonial commerce than was the blacksmith. Although some basic tools were made in England and shipped to the colonies, it was much more common for wrought iron stock to be shipped, where it was made into a variety of tools and hardware by local blacksmiths. During the American colonial period, the blacksmith was often at the forefront of technological innovation. The blacksmith made nails, chain, and gate hardware; he repaired tools for farming and mended wagons; virtually all other craftsmen depended on the local blacksmith directly in one way or another. A young man learned the trade through an apprenticeship that began at around 14 years of age and lasted for seven years. In exchange for being taught the trade as well as how to read, write, and do basic mathematics, the apprentice worked for the master without pay.
            </p>

            <hr>

            <h2 id="sec4">Broom Maker</h2>
            <p>
                Through most of the Colonial period, American brooms were virtually all homemade and were neither very effective nor very durable. They were made from a stick to which was bound straw, fine twigs, or corn husks. In the late 1700s a Massachusetts farmer named Levi Dickenson made a broom from the stalks of sorghum, a variety of grain used for livestock feed. Although not nearly as durable as the brooms of today, it was a great improvement both in performance and longevity. Word spread and soon Dickenson was growing sorghum primarily for broom production, and the broom making as a trade was born. Sorghum is still used for making fine brooms today.
            </p>

            <hr>

            <h2 id="sec5">Caligraphy</h2>
            <p>
            In Colonial America, all records of government and commerce as well as personal correspondence and some public decrees were written by hand. The ability to write clearly and with style was a valued skill in almost every profession and household. While the vast majority of colonists could read, far fewer were able to write. In the late 1600s, about 75% of men in urban areas and about 55% of men in rural areas could write. For women, the numbers were 35% and 30%. By the late 1700s, about 95% of urban men and about 90% of rural men could write. For women it was 55% and 45%. In reading handwritten documents from the colonial period, experts can examine the writing and determine the gender of the writer as well as the social class. Even the time period can be gauged with some degree of accuracy by the style of the script.
            </p>

            <hr>
            <h4><a href="sec0">Go to Top >></a></h4>
            <hr>

            </div><!--/right-->
        </div><!--/row-->
    </div><!--/container-->

</%block>
